
$breakpoint-xs: 20rem;
$breakpoint-s: 40rem;
$breakpoint-m: 60rem;
$breakpoint-l: 80rem;
$breakpoint-xl: 100rem;

$black-dark: hsl(0, 0%, 0%);
$black: hsl(0, 0%, 15%);
$black-light: hsl(0, 0%, 30%);

$white-dark: hsl(0, 0%, 88%);
$white: hsl(0, 0%, 94%);
$white-light: hsl(0, 0%, 100%);
